
.coaching-container form {
    padding: 10px;
}

textarea {
    border: 2px solid #EEEDDD;
    background-color: white;
    color: #68530E;
    padding: 3px 8px 3px 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
}