.comfort-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.comfort-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dessert-checkbox {
    display: flex;
    align-items: center;

}