/*.signup-container {*/
/*    !*display: flex;*!*/
/*    justify-content: center;*/
/*    flex-display: column;*/
/*    align-items: center;*/
/*}*/

.signup-form {
    width: 310px;
    margin: 0 auto;
}

.signup-form button {
    align-self: center;
}