.nutrients-list li {
    float: left;
    margin-right: 10px;
}

.balance-main {
    display: flex;
    flex-direction: column;
}

.nutrients-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 8px 0 8px 0;
}