.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #68530E;
    padding: 0;
    height: 150px;
    color: #EEEDDD;
}

.footer-form {
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
}

.footer-contact {
    font-size: 12px;
    margin-right: 10px;
}