.header-container {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url('../assets/cooking achtergrond.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    opacity: 40px;
}

.header-appTitle {
    border: 3px solid #EEEDDD;
    background-color: white;
    color: #68530E;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    font-size: 50px;
    box-shadow: 0 4px 8px 2px rgba( 77, 77, 77, 0.15);
    cursor: pointer;
}

.headerProfile-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.header-profile {
    border: 3px solid #EEEDDD;
    background-color: white;
    color:  #68530E;
}

.logout-link {
    border: 3px solid #EEEDDD;
    background-color: white;
    color: #68530E;
    padding: 3px 8px 3px 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    /*margin-right: 30px;*/
    /*margin-top: 0;*/
}



/*navigatie bar*/
.navBar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navBar {
    position: relative;
}

.navBar button {
    /*position: fixed;*/
    /*right: 40px;*/
    /*top: 28px;*/
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    color: #68530E;
    border-style: none;
    /*padding-top: 70px;*/
    padding-right: -30px;
    margin-right: 15px;
}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 150px;
    padding-top: 0;
    background: #EEEDDD;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 160px;
    max-length: 300px;
    z-index: 9;
    /*opacity: 40px;*/
}

.menuNav.showMenu {
    width: 100%;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #A5A769;
    /*text-transform: uppercase;*/
    font-weight: normal;
}

nav a:hover {
    color: #68530E;
}