.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #A5A769;
    height: 150px;
}
.headerProfile-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.headerInfo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navBar {
    position: relative;
}

.navBar button {
    /*position: fixed;*/
    /*right: 40px;*/
    /*top: 28px;*/
    z-index: 10;
    cursor: pointer;
    background-color: #A5A769;
    color: #EEEDDD;
    border-style: none;
    /*padding-top: 70px;*/
    padding-right: -30px;
    margin-right: 15px;

}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 150px;
    padding-top: 0;
    background: #EEEDDD;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 160px;
    max-length: 300px;
    z-index: 9;
    opacity: 40px;
}

.menuNav.showMenu {
    width: 100%;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #A5A769;
    /*text-transform: uppercase;*/
    font-weight: normal;
}

nav a:hover {
    color: #68530E;
}

/*.menuNav li:first-child {*/
/*    margin-top: 1rem;*/
/*}*/



.header-appTitle {
    justify-content: flex-start;
    align-items: center;
    color: #EFC1CC;
    /*padding-top: 100px;*/
    padding-left: 15px;
    font-size: 25px;
    box-shadow: lightpink;
    cursor: pointer;

}

.header-profile {
    color: #EEEDDD;
}

.logout-button {
    border: 3px solid #EEEDDD;
    background-color: #EFC1CC;
    border-radius: 13px;
    padding: 3px 8px 3px 8px;
    text-align: center;
    color: #EEEDDD;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 0;
}