.pageHeader-container {
    display: flex;
    justify-content: flex-start;
}

.pageHeader-title {
    color: #68530E;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
}

.pageHeader-icon {
    width: 25px;
    height: auto;
    margin-top: 15px;
}